body {  
    font-size: 125%;
    font-family: 'Nunito', sans-serif;
    color: white;
    width: 40em;
    margin: auto;
    background-image: linear-gradient(to right, #164a41, #1e4f40, #27543f, #31593e, #3c5d3c);
    max-width: 100%;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    
}
nav a {
    text-decoration: none;
    display: block;
    padding: .05em 1em;
    color: #f1b24a;
    max-width: 100%;
    border: 1px solid #f1b24a;
}
nav a:hover {
    color:  white;
}
h1 {
    font-family: 'Roboto', sans-serif;
}
main a {    
    color: #f1b24a;
}
main a:hover {
    color: #e68e00;
}